@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Pacifico&display=swap');
@font-face {
  font-family: gotham;
  src: url('font/Gotham-Light.otf');
}
html {
  scroll-behavior: smooth;
  transition: .5s ease-out all;
}

.lobster{
    font-family: 'Lobster Two', cursive;
    font-size: 20px; 
    color: #ffffff;
}

.bordB{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:  10px;  
}

.titulo{
    font-family: 'Lobster', cursive; 
    color: #b71c1c
}

.titulo:hover{
    transform: scale(1.1);
    color: #FF3366;
}

.seleccionado{
    font-size: 25px; 
    color: #FF3366 !important;
}
.seleccionado:hover{
    color: #A11538 !important;
}

.galeria{
    width: 100%;
    height: 100%;
}

.galeria img{
    
    box-shadow: 0 8px 10 px -4px rgba(0,0,0,.6);
    border-radius: 15px;
}

.galeria a > img { 
    object-fit:  cover;
    transition: 0.5s;
}

.inicio{ 
    object-fit:  cover;
    transition: 0.9s;
}

.appWhatsapp{
    position: fixed;
    right: 26px;
    bottom: 100px;
    width: 60px;
    z-index: 1000;
}
.appWhatsapp img{
    width: 100%;
    height: auto;      
}
#map{
    height: 300px;
    width: 1150px;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }
  
  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }
  
  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  
@media only screen and (min-width : 700px){
    .galeria a > img:hover {
   transform: scale(1.1) rotate(2deg);
 }
 
 .inicio:hover{     
    transform: scale(1.02) rotate(0.2deg);
}
}


